*{
    margin: 0%;
    padding: 0%;
}
.image{
    width: 90%;
}
body{
    background: linear-gradient(rgb(255, 82, 44),hsl(357, 100%, 69%));
    text-align: center;
}

button{
    background-color: transparent !important;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 1em;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Nova Round', cursive;
}